baseURL = "https://knopehvac.com"
languageCode = "en-us"
title = "Knope Heating & Air Conditioning"
enableRobotsTXT = true
disableAliases = true
summaryLength = 30

#################### default parameters ################################

[params]
  logo = "images/Knope-Logo.jpg"
  # Meta data
  description = " "
  author = "Knope Heating & Air Conditioning"
  # Contact Information
  phone = "715-524-4215"
  cell = "715-853-3393"
  fax = "715-526-9491"
  email = "reese@knopehvac.com"
  address = "1473 E Green Bay St, Shawano, WI"
  GoogleMapDirections = "https://goo.gl/maps/ifRQgXNT4gWN3o617"
  hours = "Mon-Fri: 8am-5pm"
  disallowSearchEngines = false
  # Google Analitycs
  googleAnalytics = "G-P6CQ2T612Z" # Your ID# search 
  minifyBundles = true

# add redirects/headers
  [outputs]
  home = ["HTML", "RSS", "REDIRECTS", "HEADERS"]

# remove .{ext} from text/netlify
[mediaTypes."text/netlify"]
  suffixes = [""]
  delimiter = ""

# add output format for netlify _redirects
[outputFormats.REDIRECTS]
  mediatype = "text/netlify"
  baseName = "_redirects"
  isPlainText = true
  notAlternative = true

# add output format for netlify _headers
[outputFormats.HEADERS]
  mediatype = "text/netlify"
  baseName = "_headers"
  isPlainText = true
  notAlternative = true

[sitemap]
  changefreq = "monthly"
  filename = "sitemap.xml"
  priority = 0.5

[markup.goldmark.renderer]
  unsafe= true

[[menu.main]]
    name = "Home"
    url  = "/"
    weight = 1

[[menu.main]]
    name = "Products"
    url  = "/products/"
    weight = 2

[[menu.main]]
    name = "About"
    url  = "/about/"
    weight = 3

[[menu.main]]
    name = "Services"
    url  = "/services/"
    weight = 4

[[menu.main]]
    name = "Specials"
    url  = "/specials/"
    weight = 5

[[menu.main]]
    name = "Blog"
    url  = "/blog/"
    weight = 6

[[menu.main]]
    name = "Contact"
    url  = "/contact/"
    weight = 7