{{ $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) }}
{{ $smallwebp := $image.Resize "600x webp" }}
{{ $mediumwebp := $image.Resize "900x webp" }}
{{ $bigwebp := $image.Resize "1200x webp" }}
{{ $smalljpg := $image.Resize "600x" }}
{{ $mediumjpg := $image.Resize "900x" }}
{{ $bigjpg := $image.Resize "1200x" }}
{{ $alt := .PlainText | safeHTML }}
<picture>
    <source sizes="100vw" srcset="{{ $smallwebp.RelPermalink }} 480w, {{ $mediumwebp.RelPermalink }} 768w, {{ $bigwebp.RelPermalink }} 1024w" type="image/webp" >
    <source sizes="100vw" srcset="{{ $smalljpg.RelPermalink }} 480w, {{ $mediumjpg.RelPermalink }} 768w, {{ $bigjpg.RelPermalink }} 1024w" type="image/jpg" >
    <img sizes="100vw" loading="lazy"
        src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ $alt }}">
</picture>