{{ define "main" }}
{{ partial "hero" . }}
<section class="container blog-container sp-10">
  <h2 class="no-margin">Heating and Cooling Resources</h2>
  <div class="underline"></div>
  {{ range .Paginator.Pages.ByDate.Reverse }}
  <article class="fade-up blog-summary" role="article">
    <a href="{{ .Permalink }}" class="blog-summary__link">
      <div class="flex flex-column flex-row-m">
        <div class="w-100 w-30-m">
          <div class="blog-summary__image-wrap">
            {{ $image := (.Resources.GetMatch (index .Params.image)) }}
            {{ $webp_s := $image.Resize "600x q80 webp" }}
            {{ $jpg_s:= $image.Resize "600x q80" }}
            <picture>
              <source srcset="{{ $webp_s.RelPermalink }}" type="image/webp" >
              <source srcset="{{ $jpg_s.RelPermalink }}" type="image/jpg" >
              <img loading="lazy"
                  src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ .Params.image_alt }}" class="blog-summary__img img-responsive zoom-images">
            </picture>
          </div>
        </div>
        <div class="w-100 w-70-m">
          <div class="blog-summary__content">
            <h3 class="blog-summary__title g4">{{ .Title }}</h3>
            <!-- {{ partial "blog/entry-meta" . }} -->
            <p class="blog-summary__summary">
              {{ if .Description }}{{ .Description | safeHTML }}{{ else }}{{ .Summary  | safeHTML }}{{ end }}
            </p>
            <span class="blog-summary__read-more">
              Read More {{ partial "svg-icons/arrow-right.svg" . }}
            </span>
          </div>
        </div>
      </div>
    </a>
  </article>
  {{ end }}
  {{ partial "blog/custom-pagination.html" . }}
</section>
{{ partial "cta" . }}
{{ end }}