.bg-blue {
  .hero__title {
    max-width: 950px;
    margin: 0 auto;
  }
}
.blog-content {
  padding: 0 2rem 6rem 2rem;
  margin-top: -50px;
  position: relative;
  figure img {
    margin: 0 auto;
  }
  blockquote {
    border-left: 5px solid $primaryColor;
    padding: 2rem;
    p {
      margin-bottom: 0;
    }
  }
}
.blog-summary {
  margin-bottom: 4rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid $lightGray;
  &__link {
    text-decoration: none;
    h3 {
      transition: 0.3s ease-out;
    }
    &:hover,
    &:focus {
      h3,
      span {
        color: $accentColor;
      }
      .blog-summary__entry-meta,
      p.blog-summary__summary {
        color: $primaryColor;
      }
      .blog-summary__read-more {
        svg {
          fill: $accentColor;
          transform: translateX(5px);
        }
      }
      .blog-summary__img {
        opacity: 0.7;
      }
    }
  }
  &__image-wrap {
    margin-bottom: 2rem;
    height: 100%;
  }
  &__img {
    opacity: 1;
    transition: opacity 0.3s ease-out;
    height: 100%;
    object-fit: cover;
  }
  &__content {
    @include breakpoint(md) {
      padding: 0 2rem;
    }
  }
  &__title {
    margin-bottom: 0;
  }
  &__entry-meta {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    transition: 0.3s ease-out;
  }
  &__summary {
    transition: 0.3s ease-out;
  }
  &__read-more {
    margin: 1rem 0;
    transition: 0.3s ease-out;
    svg {
      fill: $primaryColor;
      stroke: $primaryColor;
      width: 20px;
      margin-left: 5px;
      transition: 0.3s ease-out;
    }
  }
}
.blog-summary:last-of-type {
  border-bottom: none;
}
.single-post {
  figure {
    img {
      max-height: 400px;
      object-fit: cover;
    }
  }
  h1 {
    font-size: 2.4rem;
    @include breakpoint(md) {
      font-size: 4rem;
    }
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  .pagination__next,
  .pagination__previous,
  .pagination__numbers {
    position: relative;
    z-index: 1;
    letter-spacing: 1px;
    font-weight: 700;
    letter-spacing: 0.015em;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    margin: 0 10px;
    color: $white;
    background-color: $primaryColor;
    &:hover,
    &:focus {
      background-color: $primaryColor;
    }
    svg {
      fill: $white;
      width: 20px;
      transition: 0.3s ease-out;
    }
  }
  &__next {
    svg {
      margin-left: 5px;
    }
    &:hover,
    &:focus {
      svg {
        transform: translateX(5px);
      }
    }
  }
  &__numbers {
    margin: 0 5px;
  }
  &__current {
    opacity: 0.7;
  }
  &__previous {
    display: flex;
    svg {
      margin-right: 5px;
    }
    &:hover,
    &:focus {
      svg {
        transform: translateX(-5px);
      }
    }
  }
}
