.home-hero {
  background-image: url("/images/background-images/home-hero.jpg");
  // background-image: url("/images/background-images/home-hero-grayscale.jpg");
  position: relative;
  z-index: 1;
  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }
}
