<div class="site-cta padding-top-4 padding-bottom-4 bg-gray">
    <div class="container-wide flex flex-column flex-row-m flex-center">
      <div class="w-100 w-70-m">
        <h2 class="no-margin">Contact Knope</h2>
        <div class="underline"></div>
        <p>
          We know that your comfort and well-being are important. That’s why we offer 24-hour, same-day service for urgent matters. For other inquiries or to speak with an expert regarding a routine service, please reach out to our office. 
        </p>
        <div class="flex flex-column flex-row-m">
          {{ partial "business-info" . }}
        </div>
      </div>
      <div class="w-100 w-30-m">
        {{ partial "request-service" . }}
      </div>
    </div>
  </div>