<footer class="footer" data-scroll-section>
  <div class="padding-top-4 padding-bottom-4 bg-gray">
    <div class="container-wide flex flex-column flex-row-m flex-center">
      <div class="w-100 w-70-m">
        <h2>Contact Knope</h2>
        <div class="underline"></div>
        <p>
          We know that your comfort and well-being are important. That’s why we offer 24-hour, same-day service for urgent matters. For other inquiries or to speak with an expert regarding a routine service, please reach out to our office. 
        </p>
        <div class="flex flex-column flex-row-m">
          {{ partial "business-info" . }}
        </div>
      </div>
      <div class="w-100 w-30-m">
        {{ partial "request-service" . }}
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="container-wide flex">
      <p>© {{ dateFormat "2006" now }} {{ .Site.Params.author }} | </p> 
      <nav class="footer__nav">
        <ul class="footer__nav-list">
          <li class="footer__nav-list-item"><a href="/privacy-policy/" class="footer__nav-item">Privacy Policy</a> | </li>
          <li class="footer__nav-list-item"><a href="/sitemap/" class="footer__nav-item">Sitemap</a> | </li>
          <li class="footer__nav-list-item"><a href="/contact/" class="footer__nav-item">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
{{ partial "scripts" . }}