<head>
    <meta charset="UTF-8" />
    <meta name="referrer" content="no-referrer" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover" />
    <title>{{ .Params.PageTitle }} | {{ .Site.Title }}</title>

    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:locale" content="en_US" />

    {{ if .Description }}
    <meta property="og:description" content="{{ .Params.Description }}" />
    <meta name="description" content="{{ .Params.Description }}">
    {{ end }}

    <link rel="canonical" href="{{ .Permalink }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@p4lm" />

    {{ $scss := resources.Get "scss/main.scss" | toCSS }}
    {{ $postcss := $scss | resources.PostCSS | minify }}
    <link rel="stylesheet" href="{{ $postcss.Permalink }}" media="screen" />

    <link rel="preconnect" href="https://www.google-analytics.com">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    {{ "<!--Favicon-->" | safeHTML }}
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">

    {{ if .Site.Params.GoogleAnalytics }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XSFCQZ2NFJ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ .Site.Params.GoogleAnalytics }}');
    </script>
    {{ end }}

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>