{{ if eq .Title "Home" }}
<div class="hero {{ lower .Page.Title }}-hero w-100" data-scroll-section>
  <div class="hero__inner container-wide flex flex-column flex-row-m flex-center">
    <div class="w-100 w-70-m">
      <h1>{{ .Params.HeroTitle }}</h1>
    </div>
    <div class="hero__service-request w-100 w-30-m">
      {{ partial "request-service" . }}
    </div>
  </div>
</div>
{{ else }}
{{ $heroClass := lower .Page.Title }}
<div class="short-hero {{ anchorize $heroClass }}-hero flex flex-center" data-scroll-section>
  <picture>
    <!-- <source sizes="100vw" srcset="{{ .Site.BaseURL }}images/background-images/{{ anchorize $heroClass }}-hero-600.webp 500w, {{ .Site.BaseURL }}images/background-images/{{ anchorize $heroClass }}-hero-1000.webp 800w, {{ .Site.BaseURL }}images/background-images/{{ anchorize $heroClass }}-hero-1400.webp 1200w, {{ .Site.BaseURL }}images/background-images/{{ anchorize $heroClass }}-hero-1800.webp 1600w" type="image/webp" > -->
    <!-- <source sizes="100vw" srcset="{{ .Site.BaseURL }}images/background-images/{{ anchorize $heroClass }}-hero-600.jpg 500w, {{ .Site.BaseURL }}images/background-images/{{ anchorize $heroClass }}-hero-1000.jpg 800w, {{ .Site.BaseURL }}images/background-images/{{ anchorize $heroClass }}-hero-1400.jpg 1200w, {{ .Site.BaseURL }}images/background-images/{{ anchorize $heroClass }}-hero-1800.jpg 1600w" type="image/jpeg" >  -->
    <img src="{{ .Site.BaseURL }}images/background-images/{{ anchorize $heroClass }}-hero-1800.jpg" alt="">
  </picture>
  <div class="hero__inner short-hero__inner container-wide text-center">
    {{ if (isset .Params "hero_title") }}
    <h1 class="hero__title short-hero__title text-white no-margin">
      {{ .Params.hero_title }}
    </h1>
    {{ else }}
    <h1 class="hero__title short-hero__title text-white no-margin">
      {{ .Page.Title }}
    </h1>
    {{ end }}
    <div class="center-underline"></div>
  </div>
</div>
{{ end }}