<div class="contact-form">
    <legend class="g5 text-primary b">Request Service</legend>
    <div class="contact-form__wrapper">
        <form name="contact" netlify netlify-honeypot="bot-field" action="/thank-you">
            <div hidden>
                <label for="bot-field">
                  Don’t fill this out if you're human: 
                  <input name="bot-field" id="bot-field" />
                </label>
            </div>
            <div class="contact-form__form-group">
                <label for="name">Name*</label>
                <input name="name" id="name" type="text" class="contact-form__form-control" required>
            </div>
            <div class="contact-form__form-group">
              <label for="phone">Phone*</label>
              <input name="phone" id="phone" type="tel" class="contact-form__form-control" required>
            </div>
            <div class="contact-form__form-group">
                <label for="email">Email*</label>
                <input name="_replyto" id="email" type="email" class="contact-form__form-control" required>
            </div>
            <div class="contact-form__form-group">
                <label for="message">Message*</label>
                <textarea name="message" id="message" class="contact-form__form-control" rows="4" required></textarea>
            </div>
            <div style="margin-bottom: 1em;" netlify-recaptcha></div>
            <button target="_blank" type="submit" class="contact-form__btn btn btn-primary">Send
                Request {{ partial "svg-icons/arrow-right.svg" . }}</button>
        </form>
    </div>
  </div>