{{ define "main" }}
{{ partial "hero" . }}
<section class="intro container-wide padding-top-10 padding-bottom-10">
  <div class="fade-up flex flex-column flex-row-m">
    <div class="w-100 w-50-m">
      <h2 class="no-margin">{{ .Params.intro.heading }}</h2>
      <div class="underline"></div>
      <p>{{ .Params.intro.copy }}</p>
      <a href="/about/" class="btn btn-primary">Learn More About Knope {{ partial "svg-icons/arrow-right.svg" . }}</a>
    </div>
    <div class="w-100 w-50-m">
      {{ partial "responsive-image" . }}
    </div>
  </div>
  <div class="awards flex flex-center margin-top-5 padding-top-5">
    {{ range .Params.awards }}
      <img src="{{ .image }}" alt="{{ .alt }}" width="360" height="360">
    {{ end }}
  </div>
</section>
{{ partial "cards" . }}
{{ partial "full-width-feature" .  }}
{{ partial "testimonials" . }}
{{ partial "cta" . }}
{{ end }}
