.cards {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__icon {
    background-color: $accentColor;
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    display: grid;
    place-items: center;
  }
  &__svg {
    width: 4rem;
    fill: $lightGray;
    stroke: $lightGray;
  }
  &__col {
    background: $lightGray;
    box-shadow: 5px 5px 25px rgba(25, 25, 96, 0.25);
    border-bottom: 5px solid $primaryColor;
    padding: 2rem;
    flex: 1 1 300px; /*  No stretching: */
    margin: 1rem 1rem 5rem 1rem;
    p {
      margin: 0 auto;
    }
    ul {
      margin-bottom: 1rem;
    }
  }
}
.family {
  .cards__svg {
    position: relative;
    top: -5px;
  }
}
