.contact-form {
  background-color: $white;
  padding: 1rem;
  box-shadow: 8px 8px 48px rgba(25, 25, 96, 0.25);
  @include breakpoint(md) {
    max-width: 20em;
    margin: 0;
  }
  .contact-form__form-group label {
    font-size: 1.6rem;
    font-weight: 700;
    color: $primaryColor;
  }
  .contact-form__form-group input,
  .contact-form__form-group textarea {
    background-color: $lightGray;
    border: none;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    &:focus {
      outline: 1px solid $primaryColor;
    }
  }
  &__form-group input {
    height: 4rem;
  }
  &__form-group textarea {
    height: 8rem;
  }
  &__btn {
    border: none;
  }
}
.contact {
  .contact-form {
    height: 100%;
  }
}
