.full-width-featured {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $blueOverlay95;
    z-index: 2;
    content: "";
  }
  &__content {
    position: relative;
    z-index: 3;
    display: flex;
    overflow: hidden;
  }
  &__col {
    flex: 1;
  }
  &__col:last-of-type {
    flex: 2;
  }
  &__col-content {
    padding: 2rem;
  }
  &__image {
    max-width: 25rem;
    padding: 1rem;
    img {
      object-fit: cover;
    }
  }
  .authorized-dealer-logo {
    max-width: 150px;
    padding: 0 0 2rem 0;
  }
}
.about {
  .full-width-featured {
    &:after {
      background-color: $whiteOverlay;
    }
    &__heading {
      color: $primaryColor;
    }
    &__underline {
      background-color: $accentColor;
    }
    &__body {
      color: $black;
    }
  }
}
.full-width-featured-reverse {
  .full-width-featured__image {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    img {
      width: 50%;
      padding: 1rem;
      max-width: 25rem;
      height: 100%;
    }
  }
}
.home {
  .full-width-featured__content {
    color: $white;
  }
}
