.footer {
  border-top: 5px solid $primaryColor;
  &__copyright {
    background-color: $primaryColor;
    color: $white;
    padding: 1rem;
    font-size: 1.6rem;
    @include breakpoint(md) {
      display: flex;
      p {
        margin: 0;
        margin-right: 0.5rem;
        margin-bottom: 0;
      }
    }
  }
  &__nav {
    display: flex;
    justify-content: center;
    ul {
      margin-bottom: 0;
    }
  }
  &__nav-list {
    position: relative;
    display: flex;
    padding: 0;
    margin-bottom: 2rem;
  }
  &__nav-list-item {
    list-style-type: none;
  }
  &__nav-item {
    color: $white;
    &:hover {
      color: $accentColor;
    }
  }
  &__nav-list-item + &__nav-list-item {
    margin-left: 0.5rem;
  }
}
