svg {
  width: 34px;
  fill: $primaryColor;
  stroke: $primaryColor;
}
.arrow-right {
  width: 20px;
  margin-left: 2rem;
  fill: transparent;
  stroke: $white;
  transition: 0.4s ease;
}
.no-stroke {
  stroke: none;
}
