a {
  color: $accentColor;
  transition: 0.3s ease;
  display: inline-block;
  &:hover,
  &:focus {
    color: $primaryColor;
    outline-color: $primaryColor;
  }
}
.primary-link,
.secondary-link {
  text-decoration: none;
  position: relative;
  color: $accentColor;
  display: inline-block;
}
.primary-link:after,
.secondary-link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform: scaleX(1);
  transition: 300ms ease-in-out;
}
.secondary-link:after {
  content: "";
  background-color: $accentColor;
}
.primary-link,
.secondary-link {
  &:hover {
    &:after {
      transform: scaleX(0);
    }
  }
}
.link {
  text-decoration: none;
  transition: color 0.15s ease-in;
}
.link:link,
.link:visited {
  transition: color 0.15s ease-in;
}
.link:hover {
  transition: color 0.15s ease-in;
}
.link:active {
  transition: color 0.15s ease-in;
}
.link:focus {
  transition: color 0.15s ease-in;
  outline: 1px dotted currentColor;
}
.no-underline {
  text-decoration: none;
}
.call-link {
  transition: 0.3s ease;
  &:hover,
  &:focus {
    text-decoration: underline;
    transform: translateY(-5px);
    text-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);
  }
}
