/*--------------------------------------------------------------
7.0 Typography
--------------------------------------------------------------*/
html {
  font-size: 100%;
  font-size: 10px;
}
body,
button,
input,
select,
optgroup,
textarea {
  color: $black;
  font-family: $primaryFont;
  font-size: 2rem;
  line-height: 3rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primaryFont;
  font-weight: 700;
  color: $primaryColor;
  line-height: 1.1em;
  margin-top: 0;
  margin-bottom: 2rem;
}
p {
  margin: 0 0 20px 0;
  max-width: 70ch;
}
/* Font-scale of a major third */
h1,
.g1 {
  font-size: 3.9rem;
  @include breakpoint(md) {
    font-size: 4.9rem;
  }
  @include breakpoint(lg) {
    font-size: 6rem;
  }
}
h2,
.g2 {
  font-size: 3.6rem;
  margin-bottom: 2.5rem;
  @include breakpoint(md) {
    font-size: 4.9rem;
  }
}
h3,
.g3 {
  font-size: 3.2rem;
  margin-bottom: 2.5rem;
  @include breakpoint(md) {
    font-size: 3.9rem;
  }
}
h4,
.g4 {
  font-size: 2.8rem;
  margin-bottom: 1.55rem;
  @include breakpoint(md) {
    font-size: 3.1rem;
  }
}
h5,
.g5 {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
}
h6,
.g6 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
/* Type Scale Gears*/
.g7 {
  font-size: 1.8rem;
}
.g8 {
  font-size: 1.6rem;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
@include breakpoint(sm) {
  .text-left-s {
    text-align: left !important;
  }
  .text-right-s {
    text-align: right !important;
  }
  .text-center-s {
    text-align: center !important;
  }
}
@include breakpoint(md) {
  .text-left-m {
    text-align: left !important;
  }
  .text-right-m {
    text-align: right !important;
  }
  .text-center-m {
    text-align: center !important;
  }
}
@include breakpoint(lg) {
  .text-left-l {
    text-align: left !important;
  }
  .text-right-l {
    text-align: right !important;
  }
  .text-center-l {
    text-align: center !important;
  }
}
.i {
  font-style: italic;
}
.b {
  font-weight: bold;
}
.underline {
  height: 5px;
  width: 200px;
  background-color: $accentColor;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}
.white-underline {
  background-color: $white;
}
.strike {
  text-decoration: line-through;
}
.shift-first {
  text-transform: capitalize;
}
.shift-up {
  text-transform: uppercase;
}
.fw4 {
  font-weight: 400;
}
.fw5 {
  font-weight: 500;
}
.fw6 {
  font-weight: 600;
}
.fw7 {
  font-weight: 700;
}
.fw8 {
  font-weight: 800;
}
.fw9 {
  font-weight: 900;
}
.no-margin {
  margin: 0;
}
.text-white {
  color: $white;
}
.text-primary {
  color: $primaryColor;
}
.text-secondary {
  color: $accentColor;
}
