// Colors
$primaryColor: #191960;
$secondaryColor: #242488;
$accentColor: #851414;
$black: #414141;
$lightGray: #f9f9f9;
$white: #ffffff;

// Overlays
$whiteOverlay: rgba(255, 255, 255, 0.9);
$grayOverlay: rgba(249, 249, 249, 0.92);
$blueOverlay70: rgba(25, 25, 96, 0.7);
$blueOverlay95: rgba(25, 25, 96, 0.95);

// Fonts
$primaryFont: "Poppins", sans-serif;

// Header spacing
$mobileHeader: 120px;
$desktopHeader: 115px;
