// Colors
$primaryColor: #191960;
$secondaryColor: #242488;
$accentColor: #851414;
$black: #414141;
$lightGray: #f9f9f9;
$white: #ffffff;

// Fonts
$primaryFont: "Poppins", sans-serif;

// Header spacing
$mobileHeader: 120px;
$desktopHeader: 115px;
